@media screen and (width < 740px) {

    .main-navigation {
        position: fixed;
        inset: 0 0 0 auto;
        translate: 100%;
        width: 50%;

        display: flex;
        flex-direction: column;

        color: white;

        transition: 1s;
        background-color: var(--clr-primary-base);
        opacity: .9;
        box-shadow: -3px 0px 18px #000000c2;

    }

    .main-layout {
        display: grid;
        grid-template-columns:
            minmax(10px, 1fr) minmax(auto, 1023px) minmax(10px, 1fr);
    }

    .main-container {
        padding-inline: 10px;
    }



}


@media screen and (width > 740px) {



    .card-container {
        display: grid;
    }

    .main-container {
        padding: 80px 26px 0 0;
    }

    .main-layout {
        display: grid;
        grid-template-columns:
            minmax(100px, 1fr) minmax(auto, 1023px) minmax(100px, 1fr);
    }

    .burger {
        display: none;
    }








}