/* pallette */

:root {
    --clr-primary-base: #292929;
    --clr-primary-base-1: #4F4E4E;
    --clr-primary-base-2: #606060; 
    --clr-primary-base-3: #818181; 
    --clr-primary-base-4: #C2C1C1; 
}

