.main-header {
    grid-column: 1/-1;

    background-color: var(--clr-primary-base);
    margin-bottom: 30px;
}

.header-content {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    
    color: white;
    background-color: var(--clr-primary-base);
    height: 130px;
    
}

