* {
    box-sizing: border-box;
}

html {
    color: var(--clr-primary-base-2);
    font-family: lato-regular, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
    color: var(--clr-primary-base-1);
}

body {
    margin: 0;
    font-size: 1rem;
}

.main-container {
    border: solid 1px var(--clr-primary-base-4);
}

.card-container img {
    width: 100%;
    min-width: 400px;
}

.base-input {
    height: 2em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--clr-primary-base-4);
}

