* {
    box-sizing: border-box;
}

html {
    color: var(--clr-primary-base-2);
    font-family: lato-regular, serif;
}

h2 {
    color: var(--clr-primary-base-1);
}

body {
    margin: 0;
    font-size: 1rem;
}

.main-container {
    border: solid 1px var(--clr-primary-base-4);
}

.card-container img {
    width: 100%;
    min-width: 387px;
}

.main-footer {
    padding-block: 80px;
    height: 320px;

    background-color: var(--clr-primary-base-4);
}




