/* MAIN LAYOUT */



.main-layout>* {
    grid-column: 2;
}

/* MAIN CONTAINER */
.main-container {
    display: grid;
    row-gap: 80px;
}


/* CARD LAYOUT */

.card-container {
    column-gap: 42px;
    grid-template-columns:
        minmax(auto, 498px) minmax(auto, 498px);
}

.card-container>*:not(img) {
    grid-column: 2;
}

.card-text-container {
    display: grid;
    justify-items: start;
}

.card-text-container>*:not(:last-child) {
    margin-block-start: 0;
    text-align: justify;
}



/* pages layout */
.pages-container {
    display: flex;
    justify-content: space-between;
}


/* MAIN FOOTER LAYOUT */
.main-footer {
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.footer-nav>* {
    display: flex;
    justify-content: center;
    align-items: center;
}